body {
    background-color: black;
    margin: 0;
    padding: 0;
}

div {
    position: relative;
}

.profile {
    width: 150px;
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.mountain {
    width: 100%;
    height: auto;
}

h2 {
    color: white;
    text-align: center;
    top: 600px;
}